@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Rubik&family=Urbanist:wght@500&display=swap');

@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  }

@font-face{
    font-family: 'Josefin Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Rubik&family=Urbanist:wght@500&display=swap');
  }
html{
    font-family: 'Montserrat';
}

  .main{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0 5vw;
    margin-top: 15vh;
  }

  mark{
    background-image: linear-gradient(90deg, #cc99c9 0%, #9ec1cf 16%, #9ee09e 32%, #fdfd97 48%, #feb144 64%, #ff6663 100%);
}
.title{
    font-weight:bolder;
    font-size: 10vh;
}

.base{
    font-size: 3vh;
}

/* buttons */
a {
    text-decoration:none;
    color:black;
  }
  .button {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    background-image: linear-gradient(90deg,  #cc99c9 0%, #9ec1cf 16%, #9ee09e 32%, #fdfd97 48%, #feb144 64%, #ff6663 100%);
    border-radius:10px;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size: auto;
    font-weight:bold;
    text-decoration: none !important;
    font-family: 'Montserrat'
  }
  .button:after {
    content:attr(alt);
    width:20vw;
    height:8vw;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }