@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@font-face {
    font-family: 'Mulish', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
}

html{
    font-family: 'Mulish';
}
u{
    text-decoration: none !important;
    color: black;
  }
  
  a{
    color: inherit !important;
    text-decoration: none !important;
  }
.main-logo{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    left: 36vw;
    top: 2vh;   
}

/* button */
.button {
    /*display: inline-block;*/
    /*border-radius: 4px;*/
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    left: 17.5vw;
    position: relative;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }